<div class="goat-info">
<div class="success">
  <h3>Baaaaah! Great Success!</h3>
  <ul>
    <li>Goat Breed: {{name}}</li>
    <li>I live in:{{location}}</li>

    <p>Click on for another goat!</p>
</div>
    
</div>
    