<div class="guess">
<form action="/game/{{id}}/edit" method="post">
  <label for="goats">Choose a region:</label>
  <select id="goats" name="goats">
    <option value="na">North America</option>
    <option value="sa">South Africa</option>
    <option value="eu">Europe</option>
    <option value="sas">South Asia</option>
    <option value="oce">Oceania</option>
  </select>
  <input type="submit">
</form>

  
</div>