{{!-- welcome page
      input for username --}}

{{>header}}

<div class="username-input">
  <form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <input type="submit" value="Submit">
  </form>
</div>

<p>bought to you by sporty spice</p>
{{!-- {{>footer}} --}}