{{!-- welcome page
      input for username --}}

<div class="username-input">
  <form>
    <br>
    <br>
    <button><a href="/goat/1">Click me to play</a></button>
    <br><br>
  </form>
</div>

<p>bought to you by sporty spice</p>
{{!-- {{>footer}} --}}