{{!-- welcome page
      input for username --}}
<img class="homegoat" src="/images/home-goat.jpg">
<div class="username-input">
  <form>
    <br>
    <br>
    <button class="play"><a href="/goat/1">Lets guess the goats!</a></button>
    <br><br>
  </form>
</div>

<p>brought to you by sporty spice</p>